{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/binatang.css' %}">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12 text-center judul">Daftar Binatang</div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'images/panda.jpg' %}" alt="">
            </div>
            <div class="col-md-8">
                <h3>Panda</h3>
                <small>Spesies: Beruang</small><br>      
                    Panda Raksasa (Ailuropoda melanoleuca, berarti "Kaki-kucing hitam-putih"; Hanzi Sederhana: 大熊猫; Hanzi Tradisional: 大熊貓; Mandarin Pinyin: dà xióng māo; Jyutping: daai6 hung4 maau1, berarti "kucing beruang besar")[2] atau diringkas Panda, adalah seekor mamalia yang biasanya diklasifikasikan ke dalam keluarga beruang,[3] Ursidae, yang merupakan hewan asli Tiongkok Tengah. Panda Raksasa tinggal di wilayah pegunungan, seperti Sichuan dan Tibet. Pada setengah abad ke-20 terakhir, panda menjadi semacam lambang negara Tiongkok, dan sekarang ditampilkan pada uang emas negara tersebut.       
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'images/gorilla.jpg' %}" alt="">
            </div>
            <div class="col-md-8">
                <h3>Gorilla</h3>
                <small>Spesies: Primata</small><br>
                    Gorila adalah jenis primata yang terbesar. Makanan gorila terdiri dari sayur-sayuran, walaupun kadang juga makan serangga. Karena itu gorila dapat digolongkan sebagai binatang omnivora. Gorila berasal dari hutan tropis di Afrika. 97-98% DNA gorila identik dengan DNA manusia. Gorila adalah spesieskedua setelah simpanse yang terdekat dengan manusia. Ada dua spesies dalam genus gorila, yaitu gorila timur (eastern gorila) dan gorila barat (western gorila). 
            </div>
        </div>
    </body>
</html>